# Visual Studio Code
.vscode
.devcontainer
*.code-workspace

# JetBrains tools
.idea

# Composer
vendor

# NodeJS
node_modules

# Application resources
cache
runtime

# Docker setup
docker
docker-compose.yml

# Misc log files
php_errors.log
/logs/*

# To be removed on user repo
app
public
config
ajil.js
